<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Hurricane Explorer</title>
  <style>
      /* Always set the map height explicitly to define the size of the div
        element that contains the map. */
      #map {
        height: 100%;
      }
      / Optional: Makes the sample page fill the window. /
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>
<form action="http://ec2-50-112-218-169.us-west-2.compute.amazonaws.com:8080/search" method="get">
 Latitude: <input name="lat" value="-10">
 Longitude: <input name="long" value="50">
 Year from: <input name="yearmin" value="1945">
 Year to: <input name="yearmax" value="1950">
  <button onclick="initMap()">Search</button>
</form>
  <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
</head>
<body>
  <div id="map"></div>

  <script type="text/javascript">
    var locations = [
[" SH032004 ", 20041113120000 , -13.1 , 68.9 ],
[" SH032004 ", 20041113180000 , -13 , 68.2 ],
[" SH032004 ", 20041114000000 , -13.1 , 67.4 ],
[" SH032004 ", 20041114060000 , -13.3 , 66.7 ],
[" SH032004 ", 20041114120000 , -13.5 , 66.2 ],
[" SH032004 ", 20041114180000 , -13.6 , 65.6 ],
[" SH032004 ", 20041115000000 , -13.7 , 65 ],
[" SH032005 ", 20051118060000 , -3.7 , 95.1 ],
[" SH032005 ", 20051118120000 , -4.3 , 94.6 ],
[" SH032005 ", 20051118180000 , -5 , 94.3 ],
[" SH032005 ", 20051119000000 , -5.8 , 94.2 ],
[" SH032005 ", 20051119060000 , -6.5 , 94.1 ],
[" SH032005 ", 20051119120000 , -7.1 , 93.9 ],
[" SH032005 ", 20051119180000 , -7.4 , 93.9 ],
[" SH032005 ", 20051120000000 , -7.7 , 93.9 ],
[" SH032005 ", 20051120060000 , -8.1 , 93.7 ]
];
  function initMap() {
 var latCenter = 0;
 var lngCenter = 100;
 latCenter = document.getElementById("latitude").value;
 lngCenter = document.getElementById("longitude").value;
// latCenter = -10;
// lngCenter = -170;
 var centerPosition = {lat:latCenter , lng: lngCenter};
 var yearFrom = document.getElementById("yearFrom").value;
 var yearTo = document.getElementById("yearTo").value;

 var centerPosition = {lat:latCenter , lng: lngCenter};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: centerPosition,
   mapTypeId: 'satellite'
    });
 var start = 'https://storage.googleapis.com/hurricanmap.appspot.com/hurricane2.png';
 var dot = 'https://storage.googleapis.com/hurricanmap.appspot.com/dot5.png';
 var stop = 'https://storage.googleapis.com/hurricanmap.appspot.com/stop.png';

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
 var polyLinePoints = new Array();
 var heatMapPoints = new Array();

 //loop through points in the locations array
    for (i = 0; i < locations.length; i++) {
   //Pass in values
   var name = locations[i][0];
   var time = locations[i][1];
   var lat = locations[i][2];
   var lng = locations[i][3];
   var lastName = "";
   if (i > 0) lastName = locations[i-1][0]; // get last storm name for comparison

   //mysterious giantLeap handler
   var longGap = 10;
   var giantLeap = false;
   var nextgiantLeap = false;
   var lngDifferenceFromLast = 0;
   var lngDifferenceFromNext = 0;
   if (i > 0) var lngDifferenceFromLast = Math.abs(locations[i][3] - locations[i-1][3]);  //calculate long difference from last point
   if (i < locations.length-1) var lngDifferenceFromNext = Math.abs(locations[i][3] - locations[i+1][3]);  //calculate long difference from next point
   if (lngDifferenceFromLast >longGap) giantLeap = true;
   if (lngDifferenceFromNext >longGap) nextgiantLeap = true;
   //test if the current is the start or the end
   if  (lastName != name || giantLeap) image = start;
   else if (i == locations.length-1 ) {image = stop;}
   else if (name != locations[i+1][0] || nextgiantLeap) {image = stop;}
   else {image = dot;}


   //Draw markers
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
  icon: image,
  title:lat + ", "+ lng
      });

   //Draw clickable windows
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
    var windowContent = locations[i][0].bold() +'<br /> Date:'+ locations[i][1] +'<br /> Location:'+ locations[i][2] + ', ' + locations[i][3];
          infowindow.setContent(windowContent);
          infowindow.open(map, marker);
        }
      })(marker, i));
   //Polylines
   //if the name is the same or its the first point ever or not the last point, add to the same polyline points array


   ///////////date mistake?

   if ((name == lastName || lastName == "") && i != locations.length -1 && !giantLeap) { //giantLeap to deal with mysterial giant leap
     polyLinePoints.push(new google.maps.LatLng(lat,lng));
   } else{ // plot, start a new array
  if ( i == locations.length -1 ) polyLinePoints.push(new google.maps.LatLng(lat,lng)); //edge case: add the very last point
     var flightPath = new google.maps.Polyline({
          path: polyLinePoints,
          geodesic: true,
          strokeColor: "#"+((1<<24)*Math.random()|0).toString(16),
          strokeOpacity: 1.0,
          strokeWeight: 4
        });
        flightPath.setMap(map);
  polyLinePoints = new Array(); // Initialize new storm points array
     polyLinePoints.push(new google.maps.LatLng(lat,lng)); //Adding the first point
   }
   heatMapPoints.push(new google.maps.LatLng(lat,lng));
    }
  }
  </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2P1yJFg8NK9VgCya1mkkFxJ9mVALvHmI&libraries=visualization&callback=initMap">
  </script>
</body>
</html>
